In [1]:
# imports
import pandas as pd

In [2]:
cars = pd.read_csv('data/cars/auto-mpg.data', header=None, delim_whitespace=True)

In [3]:
cars.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car_name']

In [4]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [5]:
cars.shape

(398, 9)

In [6]:
ecoli = pd.read_csv('data/ecoli/ecoli.data', header=None, delim_whitespace=True)

In [7]:
ecoli.columns = ['sequence_name', 'mcg', 'gvh', 'lip', 'chg', 'aac', 'alm1', 'alm2', 'ecoli_class']

In [8]:
ecoli.head()

  sequence_name   mcg   gvh   lip  chg   aac  alm1  alm2 ecoli_class
0     AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35          cp
1    ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44          cp
2    ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46          cp
3    ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36          cp
4     ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35          cp

In [9]:
ecoli.shape

(336, 9)

In [10]:
glass = pd.read_csv('data/glass/glass.data')

In [11]:
glass.columns = ['id', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'type_of_glass']

In [12]:
glass.head()

   id       RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  type_of_glass
0   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00              1
1   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00              1
2   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00              1
3   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00              1
4   6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26              1

In [13]:
glass.shape

(213, 11)

In [14]:
iris = pd.read_csv('data/iris/iris.data')

In [15]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

In [16]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [17]:
iris.shape

(149, 5)

In [18]:
seeds = pd.read_csv('data/seeds/seeds_dataset.txt', delim_whitespace=True, header=None)

In [19]:
seeds.columns = ['area', 'perimeter', 'compactness', 'length_kernel', 'width_kernel', 'asymmetry_coeff', 'length_groove', 'class']

In [20]:
seeds.head()

,area,perimeter,compactness,length_kernel,width_kernel,asymmetry_coeff,length_groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1

In [21]:
seeds.shape

(210, 8)

In [22]:
wine = pd.read_csv('data/wine/wine.data')

In [23]:
wine.columns = ['class', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash','Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols','Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines','Proline']

In [24]:
wine.head()

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [25]:
wine.shape

(177, 14)